<div class="container" style="min-height:30vh; ">

  <div class="row col-xs-12 row-soccial">
    <div class="col-md-4 text-center">
      <a href="#">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x " style="color:rgb(255, 255, 255)"></i>
          <i class="fa fa-facebook fa-stack-1x " style="color:rgb(29, 85, 226)"></i>
        </span>
        <p style="color:rgb(105, 102, 98)">facebook.com/mobifone</p>
        <br/>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="#">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x " style="color:rgb(250, 251, 253)"></i>
          <i class="fa fa-youtube-square fa-stack-1x" style="color:rgb(216, 54, 62)"></i>
        </span>
        <p style="color:rgb(105, 102, 98)">youtube.com/mobifone</p>
        <br/>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="#">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x " style="color:rgb(247, 249, 252)"></i>
          <i class="fa fa-instagram fa-stack-1x" style="color:rgb(29, 202, 58)"></i>
          <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
        </span>
        <p style="color:rgb(105, 102, 98)">instagram.com/mobifone</p>
        <br/>
      </a>
    </div>
  </div>
  <div class="row row-infor">
    <div class="col-xs-12 contact-main">
      <div class="col-xs-12 col-sm-6  contact-detail">
        <div class="row infor">
          <div class="content-info">
            <strong class="title-company"> {{info.name}}</strong>
            <br>
            <br>
            <div>{{info.title_address}}: {{info.address}}:</div>
            <div>{{info.title_hotline}}: 
              <span style="color:rgb(67, 224, 224)">{{info.number_hotline}}</span>
            </div>
            <div> {{info.title_email}}: {{info.email}}</div>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-sm-6 text-center map-contact1">
        <div class="row infor map-contact">
          <div id="googleMap" style="height:213px; width:100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>