<div class="container" style="min-height:30vh; ">

  <div class="row col-xs-12 row-soccial" >
    <div class="col-md-4 text-center" *ngFor="let social of info.contact_social">
      <a href={{social.url}} target="blank">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x " style="color:rgb(255, 255, 255)"></i>
          <i class="{{social.icon}} fa-stack-1x"></i>
        </span>
        <p style="color:rgb(105, 102, 98)">{{social.url}}</p>
        <br/>
      </a>
    </div>
  </div>
  <div class="row row-infor">
    <div class="col-xs-12 contact-main">
      <div class="col-xs-12 col-sm-6  contact-detail">
        <div class="row infor">
          <div class="content-info">
            <strong class="title-company"> {{info.name}}</strong>
            <br>
            <div> <strong>{{info.title_address}}</strong> : {{info.address}}</div>
            <div> <strong>{{info.title_hotline}}</strong> : 
              <span style="color:rgb(67, 224, 224)">{{info.number_hotline}}</span>
            </div>
            <div> <strong>{{info.title_email}}</strong> : {{info.email}}</div>
            <div><strong>{{info.representative}}</strong>: {{info.name_repres}}</div>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-sm-6 text-center map-contact1">
        <div class="row infor map-contact">
          <div id="googleMap" style="height:213px; width:100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>