<div class="container">
  <!-- <div class="well">

      {{data}}
    </div> -->
  <!-- <div class="col-xs-12 text-right"> -->
  <!-- <ngb-datepicker  ></ngb-datepicker> -->
  <!-- <ngb-pagination [collectionSize]="130" [(page)]="page" [maxSize]="4" [rotate]="true" [boundaryLinks]="false" (pageChange) = "changePage(page)"></ngb-pagination> -->
  <!-- </div> -->
  <!-- <hr> -->
  <!-- <pre>Current page: {{page}}</pre>
  <a routerLink="/blog/detail" class="btn btn-danger">Detail</a> -->
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-9" style="padding-right: 60px">
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <img style="width:70%; height:70%; margin-top:12px" class="rounded float-left" src="../../../assets/blog/wifi-quoc-te-thumnail.jpg"
              alt="">
          </div>
          <div class="col-xs-12 col-sm-8 ">
            <a href="">
              <h4>Mobiwifi: Wifi quốc tế siêu rẻ - phủ sóng mạnh mẽ toàn cầu</h4>
            </a>

            <p>Author:
              <i style="color:rgb(65, 130, 243)">Mobiwifi</i> &nbsp;&nbsp; &nbsp;&nbsp;
              <i style="font-size:10px;">20/01/2018</i>
            </p>
            <div>
              Đang trở thành xu hướng thông minh trong xã hội “xê dịch” toàn cầu hiện nay, wifi quốc tế (wifi du lịch) là người bạn đồng
              hành tuyệt vời cùng những chuyến đi xuyên địa cầu của khách hàng, giúp bạn th ...
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <img style="width:70%; height:70%; margin-top:12px" class="rounded float-left" src="../../../assets/blog/thue-wifi-hay-mua-sim-tu-van.jpg"
              alt="">
          </div>
          <div class="col-xs-12 col-sm-8 ">
            <a href="">
              <h4>Chuyên mục tư vấn: Chọn thuê wifi hay mua sim?</h4>
            </a>

            <p>Author:
              <i style="color:rgb(65, 130, 243)">Mobiwifi</i> &nbsp;&nbsp;
              <i style="font-size:10px;">22/01/2018</i>
            </p>
            <div>
              CÂU HỎI: Nên thuê wifi quốc tế hay mua sim khi đi du lịch/công tác nước ngoài? Tại sao hiện nay nhiều người lại chọn thuê
              wifi hơn là mua sim? Liệu thuê wifi có những lợi ích gì vượt trội hơn so với v ...
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <img style="width:70%; height:70%; margin-top:12px" class="rounded float-left" src="../../../assets/blog/thue-wifi-du-lich.jpg"
              alt="">
          </div>
          <div class="col-xs-12 col-sm-8 ">
            <a href="">
              <h4>Thuê wifi du lịch: Mang Internet theo chân bạn khắp địa cầu</h4>
            </a>

            <p>Author:
              <i style="color:rgb(65, 130, 243)">Mobiwifi</i> &nbsp;&nbsp;
              <i style="font-size:10px;">23/01/2018</i>
            </p>
            <div>
              Ra đời từ chính nhu cầu ngày càng cao của những người đi du lịch, công tác nước ngoài… muốn được kết nối Internet mọi lúc
              mọi nơi, Wifi Du Lịch là giải pháp thông minh và tiết kiệm hàng đầu hiện nay g ...
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <img style="width:70%; height:70%; margin-top:12px" class="rounded float-left" src="../../../assets/blog/dich-vu-cho-thue-wifi-du-lich-tien-ich-lon-voi-nhung-nguoi-cong-tac-nuoc-ngoai-1.jpg"
              alt="">
          </div>
          <div class="col-xs-12 col-sm-8 ">
            <a href="">
              <h4>Dịch vụ cho thuê wifi du lịch, tiện ích lớn với những người công tác nước ngoài</h4>
            </a>

            <p>Author:
              <i style="color:rgb(65, 130, 243)">Mobiwifi</i> &nbsp;&nbsp;
              <i style="font-size:10px;">23/01/2018</i>
            </p>
            <div>
              Để có thể kết nối wifi nhanh chóng, xử lý công việc dễ dàng gần đây rất nhiều người đi công tác Nhật Bản chọn dịch vụ thuê
              wifi du lịch thay vì những thiết bị khác. ...
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <img style="width:70%; height:70%; margin-top:12px" class="rounded float-left" src="../../../assets/blog/loai-dien-thoai-nao-co-su-dung-duoc-wifi-du-lich-nuoc-ngoai-2.jpg"
              alt="">
          </div>
          <div class="col-xs-12 col-sm-8 ">
            <a href="">
              <h4>Loại điện thoại nào có thể sử dụng được wifi du lịch nước ngoài</h4>
            </a>

            <p>Author:
              <i style="color:rgb(65, 130, 243)">Mobiwifi</i> &nbsp;&nbsp;
              <i style="font-size:10px;">24/01/2018</i>
            </p>
            <div>
              Chỉ cần một chiếc điện thoại thông minh thì bạn hoàn toàn có thể sử dụng wifi du lịch nước ngoài một cách dễ dàng mà không
              gặp bất kì trở ngại nào. Wifi du lịch nước ngoài thực chất là một cục phát wi ...
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <img style="width:70%; height:70%; margin-top:12px" class="rounded float-left" src="../../../assets/blog/3-li-khien-ban-quyet-dinh-thue-wifi-du-lich-nhat-ban-thay-vi-mua-sim-3g-4g-1.jpg"
              alt="">
          </div>
          <div class="col-xs-12 col-sm-8 ">
            <a href="">
              <h4>3 lí do khiến bạn quyết định thuê wifi du lịch Nhật Bản thay vì mua sim 3G, 4G</h4>
            </a>

            <p>Author:
              <i style="color:rgb(65, 130, 243)">Mobiwifi</i> &nbsp;&nbsp;
              <i style="font-size:10px;">20/01/2018</i>
            </p>
            <div>
              Thuê wifi du lịch Nhật Bản giúp bạn tiết kiệm chi phí, kết nối internet dễ dàng. Đặc biệt, bạn còn có thêm nhiều mối quan
              hệ mới nhờ việc chia sẻ wifi. Ngày nay khi mà dịch vụ cho thuê wifi du lịch đa ...
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-xs-12 col-sm-3" style="padding-right: 60px">
        <div class="row row1">
          <h4 class="title">CATEGORIES</h4>
          <div class="component">
            <a href="">
              <p>
                <span class="fa fa-pencil"></span> Tin tức</p>
            </a>
            <a href="">
              <p>
                <span class="fa fa-pencil"></span>Địa điểm đặt hàng</p>
            </a>
            <a href="">
                <p>
                  <span class="fa fa-pencil"></span>Hỏi đáp</p>
              </a>
          </div>
        </div>
        <!-- <div class="row row2">
          <h4 class="title">TAGS</h4>
          <div class="component2">
            <ul class="tags">
              <li>
                <a href="#">
                  <span class="fa fa-tags rotaryicon"></span>bộ phát wifi du lịch
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-tags transform-icon"></span>cho thuê wifi du lịch nước ngoài
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-tags transform-icon"></span>cục phát wifi du lịch
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-tags transform-icon"></span>cho thuê wifi du lịch
                </a>
              </li>
            </ul>
          </div>
        </div> -->
      </div>


    </div>
  </div>

</div>