<div id="home" class="tab-pane fade in active">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="faq-title" data-toggle="collapse" data-parent="#accordion" href=#{{data.faqId}}>{{data.question}}</a>
          </h4>
        </div>
        <div id={{data.faqId}} class="panel-collapse collapse out">
          <div class="panel-body faq-content">{{data.reply}}</div>
        </div>
      </div>
    </div>
    <!-- <p (click)="toggle()" [@test]="state">
      <strong>{{data.question}}</strong>
    </p>
    <p class="text-justify">{{data.reply}}</p>
  </div>
  <div class="col-xs-12">
    <hr>
  </div> -->
</div>
